#global configuration file for SBS

SCREEN_UTILS_ROOT = ${SCREEN_ROOT}/Screen/Utils
SCREEN_MAIN_ROOT = ${SCREEN_ROOT}/Screen/Main
SCREEN_OPENGL_ROOT = ${SCREEN_ROOT}/Screen/OpenGL

BOOST_INC_ROOT = ${BOOST_ROOT}
BOOST_LIB_ROOT = ${BOOST_ROOT}/stage/lib

DEVIL_INC_ROOT = ${DEVIL_ROOT}/include
DEVIL_LIB_ROOT = ${DEVIL_ROOT}/lib

SFML_INC_ROOT = ${SFML_ROOT}/include
SFML_LIB_ROOT = ${SFML_ROOT}/lib/${SFML_COMPILER}

CPPUNIT_INC_ROOT = ${CPPUNIT_ROOT}/include
CPPUNIT_LIB_ROOT = ${CPPUNIT_ROOT}/src/cppunit/.libs