#global configuration file for SBS

#Screen component roots
SCREEN_UTILS_ROOT = ${SCREEN_ROOT}/Screen/Utils
SCREEN_MAIN_ROOT = ${SCREEN_ROOT}/Screen/Main
SCREEN_OPENGL_ROOT = ${SCREEN_ROOT}/Screen/OpenGL
SCREEN_MEMORY_ROOT = ${SCREEN_ROOT}/Screen/Memory
SCREEN_FIELDS_ROOT = ${SCREEN_ROOT}/Screen/Fields
SCREEN_XML_ROOT = ${SCREEN_ROOT}/Screen/XML

#Screen compiler additional flags
RELEASE_FLAGS = SCREEN_ASSERT SCREEN_AUTHORIZE_LOG_INFO
DEBUG_FLAGS = SCREEN_ASSERT SCREEN_AUTHORIZE_LOG_DEBUG SCREEN_AUTHORIZE_PROFILE SCREEN_AUTHORIZE_LOG_CALL_TRACER

