#personal specific configuration 

#sbs local repository root
REPOSITORY_ROOT = /home/thomas/.sbs

#screen project root
SCREEN_ROOT = /home/thomas/Developments/Screen/trunk/

#include folders
BOOST_INC_ROOT = /usr/include
BOOST_LIB_ROOT = /usr/lib

DEVIL_INC_ROOT = /usr/include
DEVIL_LIB_ROOT = /usr/lib

SFML_INC_ROOT = /usr/include
SFML_LIB_ROOT = /usr/lib

XERCES_INC_ROOT = /usr/include
XERCES_LIB_ROOT = /usr/lib

CPPUNIT_INC_ROOT = /usr/include
CPPUNIT_LIB_ROOT = /usr/lib
