#personal specific configuration 

#sbs local repository root
REPOSITORY_ROOT = C:/lib/sbs-repo

#screen project root
SCREEN_ROOT = C:/Documents and Settings/Administrateur/Mes documents/Projets Personnels/SVNScreen

#include folders
BOOST_VERSION = 1_37
BOOST_ROOT = C:/lib/boost_${BOOST_VERSION}_0

DEVIL_ROOT = C:/lib/DevIL-SDK-x86-1.7.8

SFML_VERSION = 1.5
SFML_ROOT = C:/lib/SFML-${SFML_VERSION}

CPPUNIT_VERSION = 1-12-1
CPPUNIT_ROOT = C:/lib/cppunit-1.12.1

XERCES_VERSION = 3-0
XERCES_ROOT = C:/lib/xerces-c-3.0.1

BOOST_INC_ROOT = ${BOOST_ROOT}
BOOST_LIB_ROOT = ${BOOST_ROOT}/stage/lib

DEVIL_INC_ROOT = ${DEVIL_ROOT}/include
DEVIL_LIB_ROOT = ${DEVIL_ROOT}/lib

SFML_INC_ROOT = ${SFML_ROOT}/include
SFML_LIB_ROOT = ${SFML_ROOT}/lib/${SFML_COMPILER}

XERCES_INC_ROOT = ${XERCES_ROOT}/src
XERCES_LIB_ROOT = ${XERCES_ROOT}/src/.libs

CPPUNIT_INC_ROOT = ${CPPUNIT_ROOT}/include
CPPUNIT_LIB_ROOT = ${CPPUNIT_ROOT}/src/cppunit/.libs

