#personal specific configuration 

WASCANA_ROOT = C:/Wascana

REPOSITORY_ROOT = C:/lib/sbs-repo
RELEASE_FLAGS = SCREEN_ASSERT SCREEN_AUTHORIZE_LOG_INFO
DEBUG_FLAGS = SCREEN_ASSERT SCREEN_AUTHORIZE_LOG_DEBUG
# SCREEN_AUTHORIZE_PROFILE SCREEN_AUTHORIZE_LOG_CALL_TRACER

SCREEN_ROOT = C:/Documents and Settings/Administrateur/Mes documents/Projets Personnels/SVNScreen

BOOST_VERSION = 1_37
BOOST_ROOT = C:/lib/boost_${BOOST_VERSION}_0

DEVIL_ROOT = C:/lib/DevIL-SDK-x86-1.7.8

SFML_VERSION = 1.5
SFML_ROOT = C:/lib/SFML-${SFML_VERSION}

CPPUNIT_VERSION = 1-12-1
CPPUNIT_ROOT = C:/lib/cppunit-1.12.1
