#Wascana specific configuration file for SBS

ENV_NAME = Wascana
TARGET_ENV = Eclipse CDT4 - Unix Makefiles
MAKE_PROGRAM = ${WASCANA_ROOT}/msys/bin/make.exe
C_COMPILER = ${WASCANA_ROOT}/mingw/bin/gcc.exe
CPP_COMPILER = ${WASCANA_ROOT}/mingw/bin/g++.exe

BOOST_LIB_EXTENSION = mgw34-mt-${BOOST_VERSION}

SFML_COMPILER = mingw
