#Wascana specific configuration file for SBS

WASCANA_ROOT = C:/Wascana

#cmake and sbs platform configurations
ENV_NAME = Wascana
TARGET_ENV = Eclipse CDT4 - Unix Makefiles
MAKE_PROGRAM = ${WASCANA_ROOT}/msys/bin/make.exe
C_COMPILER = ${WASCANA_ROOT}/mingw/bin/gcc.exe
CPP_COMPILER = ${WASCANA_ROOT}/mingw/bin/g++.exe

#library patterns to determine library name from sbs.xml file
BOOST_LIB_PATTERN = ${LIB_NAME}-mgw34-${BOOST_VERSION}
DEVIL_LIB_PATTERN = ${LIB_NAME}
CPPUNIT_LIB_PATTERN = ${LIB_NAME}-${CPPUNIT_VERSION}
OPENGL_LIB_PATTERN = ${LIB_NAME}
XERCES_LIB_PATTERN = ${LIB_NAME}
SFML_LIB_PATTERN = ${LIB_NAME}
