#Wascana specific configuration file for SBS

ENV_NAME = Linux
TARGET_ENV = Unix Makefiles
MAKE_PROGRAM = 
C_COMPILER = 
CPP_COMPILER = 

BOOST_LIB_PATTERN = ${LIB_NAME}
DEVIL_LIB_PATTERN = ${LIB_NAME}
CPPUNIT_LIB_PATTERN = ${LIB_NAME}
OPENGL_LIB_PATTERN = ${LIB_NAME}
XERCES_LIB_PATTERN = ${LIB_NAME}
SFML_LIB_PATTERN = ${LIB_NAME}
