#Wascana specific configuration file for SBS

ENV_NAME = MSYS
TARGET_ENV = MSYS Makefiles
MAKE_PROGRAM = C:/Wascana/msys/bin/make.exe
C_COMPILER = C:/Wascana/mingw/bin/gcc.exe
CPP_COMPILER = C:/Wascana/mingw/bin/g++.exe

BOOST_LIB_EXTENSION = mgw34-mt-1_37

SFML_LIB_ROOT = C:/lib/SFML-1.5/lib/mingw
