#global configuration file for SBS

REPOSITORY_ROOT = C:/lib/sbs-repo
RELEASE_FLAGS = SCREEN_ASSERT SCREEN_AUTHORIZE_LOG_INFO
DEBUG_FLAGS = SCREEN_ASSERT SCREEN_AUTHORIZE_LOG_DEBUG SCREEN_AUTHORIZE_PROFILE SCREEN_AUTHORIZE_LOG_CALL_TRACER

SCREEN_MAIN_ROOT = C:/Documents and Settings/Administrateur/Mes documents/Projets Personnels/SVNScreen/Screen/Main
SCREEN_OPENGL_ROOT = C:/Documents and Settings/Administrateur/Mes documents/Projets Personnels/SVNScreen/Screen/OpenGL

BOOST_INC_ROOT = C:/lib/boost_1_37_0
BOOST_LIB_ROOT = C:/lib/boost_1_37_0/stage/lib

DEVIL_INC_ROOT = C:/lib/DevIL-SDK-x86-1.7.8/include
DEVIL_LIB_ROOT = C:/lib/DevIL-SDK-x86-1.7.8/lib

SFML_INC_ROOT = C:/lib/SFML-1.5/include
